<div 
    my-drop 
    class="list__block" 
    list = "$ctrl.list"
    on-dropped="$ctrl.dropped(data)" >
    <div class="create_todo">
    <input 
        type="text" 
        ng-model="$ctrl.title"
        ng-keydown="($event.keyCode === 13) && $ctrl.addToDo()">
        <br>
        <button 
            ng-click="$ctrl.addToDo()">Add "ToDo"</button>
        </div>
        
        <to-do-item
            ng-repeat="todo in $ctrl.list" 
            todo="todo" 
            on-delete="$ctrl.deleteToDo(todo)">
        </to-do-item>
</div>
