$bgr_c: #333335;
$blue_c: #5454aa;

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background: white no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}


