<div class="log">
    <div class="login__block">
        <h3>Login:</h3>
        <form name="form" class="css-form">
            <div 
                class="error" 
                ng-show="form.uEmail.$error.email">
                This is not a valid email
            </div>
            <label for="uEmail">
                <input 
                    validate-email 
                    type="email" 
                    ng-model="$ctrl.email" 
                    name="uEmail" 
                    placeholder="email" 
                    required>
            </label>
            <div 
                class="error" 
                ng-show="form.$error.password">
                Strong password isn't correct
            </div>
            <label for="">
                <input 
                    validate-password 
                    type="password" 
                    ng-model="$ctrl.password" 
                    placeholder="password" 
                    required>
            </label>
            <div 
                class="error" 
                ng-show="$ctrl.error">
                {{$ctrl.error}}
            </div>
        </form>
        <button ng-click="$ctrl.login()" class="login">Log in</button>
        <button ng-click="$ctrl.logout()" class="logout">Log out</button>
            <div class="good" ng-show="$ctrl.goodResponse">
                {{$ctrl.goodResponse}}
            </div>
    </div>
</div>